/* Based on https://github.com/material-components/material-web/blob/master/iconbutton/lib/_icon-button-theme.scss */
/* stylelint-disable at-rule-no-unknown */
@use "sass:map";
@use "../theme/state";

@mixin state-layer-size($size) {
    width: $size;
    height: $size;
}

@mixin state-layer-shape($shape) {
    border-radius: $shape;
}

@mixin icon-size($size) {
    font-size: $size;

    i,
    svg,
    img {
        width: $size;
        height: $size;
    }
}

@mixin icon-color($colors) {
    @include state.default() {
        @include _set-icon-color(state.get-default-state($colors));
    }
    @include state.hover() {
        @include _set-icon-color(state.get-hover-state($colors));
    }
    @include state.focus() {
        @include _set-icon-color(state.get-focus-state($colors));
    }
    @include state.pressed() {
        @include _set-icon-color(state.get-pressed-state($colors));
    }
    @include state.disabled() {
        @include _set-icon-color(state.get-disabled-state($colors));
    }
}

@mixin container-color($colors) {
    @include state.default() {
        @include _set-container-color(state.get-default-state($colors));
    }
    @include state.disabled() {
        @include _set-container-color(state.get-disabled-state($colors));
    }
}

@mixin _set-icon-color($color) {
    color: $color;
}

@mixin _set-container-color($color) {
    background-color: $color;
}
