# Compiled output
**/node_modules

# Lock files
package-lock.json*
yarn.lock*

# Output
**/.output
**/.nuxt
**/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors
.idea

# OS
.DS_Store

# Temp
**/tmp
**/.temp

# Tests
/coverage

# Cache
/tsconfig.build.tsbuildinfo

# Workspaces
**/*.code-workspace
