/* stylelint-disable function-no-unknown */
/* stylelint-disable at-rule-no-unknown */
@use "sass:map";
@use "../modules/math-ext";
@use "../references/typeface";

$typescale: (
    // body large
    body-large: math-ext.to-rem(null),
    body-large-font: typeface.get-fallback(plain),
    body-large-line-height: math-ext.to-rem(24px),
    body-large-size: math-ext.to-rem(16px),
    body-large-tracking: math-ext.to-rem(0.5px),
    body-large-weight: typeface.get-fallback(weight-regular),
    // body medium
    body-medium: math-ext.to-rem(null),
    body-medium-font: typeface.get-fallback(plain),
    body-medium-line-height: math-ext.to-rem(20px),
    body-medium-size: math-ext.to-rem(14px),
    body-medium-tracking: math-ext.to-rem(0.25px),
    body-medium-weight: typeface.get-fallback(weight-regular),
    // body small
    body-small: math-ext.to-rem(null),
    body-small-font: typeface.get-fallback(plain),
    body-small-line-height: math-ext.to-rem(16px),
    body-small-size: math-ext.to-rem(12px),
    body-small-tracking: math-ext.to-rem(0.4px),
    body-small-weight: typeface.get-fallback(weight-regular),
    // display large
    display-large: math-ext.to-rem(null),
    display-large-font: typeface.get-fallback(brand),
    display-large-line-height: math-ext.to-rem(64px),
    display-large-size: math-ext.to-rem(57px),
    display-large-tracking: math-ext.to-rem(-0.25px),
    display-large-weight: typeface.get-fallback(weight-regular),
    // display medium
    display-medium: math-ext.to-rem(null),
    display-medium-font: typeface.get-fallback(brand),
    display-medium-line-height: math-ext.to-rem(52px),
    display-medium-size: math-ext.to-rem(45px),
    display-medium-tracking: math-ext.to-rem(0),
    display-medium-weight: typeface.get-fallback(weight-regular),
    // display small
    display-small: math-ext.to-rem(null),
    display-small-font: typeface.get-fallback(brand),
    display-small-line-height: math-ext.to-rem(44px),
    display-small-size: math-ext.to-rem(36px),
    display-small-tracking: math-ext.to-rem(0),
    display-small-weight: typeface.get-fallback(weight-regular),
    // headline large
    headline-large: math-ext.to-rem(null),
    headline-large-font: typeface.get-fallback(brand),
    headline-large-line-height: math-ext.to-rem(40px),
    headline-large-size: math-ext.to-rem(32px),
    headline-large-tracking: math-ext.to-rem(0),
    headline-large-weight: typeface.get-fallback(weight-regular),
    // headline medium
    headline-medium: math-ext.to-rem(null),
    headline-medium-font: typeface.get-fallback(brand),
    headline-medium-line-height: math-ext.to-rem(36px),
    headline-medium-size: math-ext.to-rem(28px),
    headline-medium-tracking: math-ext.to-rem(0),
    headline-medium-weight: typeface.get-fallback(weight-regular),
    // headline small
    headline-small: math-ext.to-rem(null),
    headline-small-font: typeface.get-fallback(brand),
    headline-small-line-height: math-ext.to-rem(32px),
    headline-small-size: math-ext.to-rem(24px),
    headline-small-tracking: math-ext.to-rem(0),
    headline-small-weight: typeface.get-fallback(weight-regular),
    // label large
    label-large: math-ext.to-rem(null),
    label-large-font: typeface.get-fallback(plain),
    label-large-line-height: math-ext.to-rem(20px),
    label-large-size: math-ext.to-rem(14px),
    label-large-tracking: math-ext.to-rem(0.1px),
    label-large-weight: typeface.get-fallback(weight-medium),
    // label medium
    label-medium: math-ext.to-rem(null),
    label-medium-font: typeface.get-fallback(plain),
    label-medium-line-height: math-ext.to-rem(16px),
    label-medium-size: math-ext.to-rem(12px),
    label-medium-text-transform: math-ext.to-rem(none),
    label-medium-tracking: math-ext.to-rem(0.5px),
    label-medium-weight: typeface.get-fallback(weight-medium),
    // label small
    label-small: math-ext.to-rem(null),
    label-small-font: typeface.get-fallback(plain),
    label-small-line-height: math-ext.to-rem(16px),
    label-small-size: math-ext.to-rem(11px),
    label-small-tracking: math-ext.to-rem(0.5px),
    label-small-weight: typeface.get-fallback(weight-medium),
    // title large
    title-large: math-ext.to-rem(null),
    title-large-font: typeface.get-fallback(brand),
    title-large-line-height: math-ext.to-rem(28px),
    title-large-size: math-ext.to-rem(22px),
    title-large-tracking: math-ext.to-rem(0),
    title-large-weight: typeface.get-fallback(weight-regular),
    // title medium
    title-medium: math-ext.to-rem(null),
    title-medium-font: typeface.get-fallback(plain),
    title-medium-line-height: math-ext.to-rem(24px),
    title-medium-size: math-ext.to-rem(16px),
    title-medium-tracking: math-ext.to-rem(0.15px),
    title-medium-weight: typeface.get-fallback(weight-medium),
    // title small
    title-small: math-ext.to-rem(null),
    title-small-font: typeface.get-fallback(plain),
    title-small-line-height: math-ext.to-rem(20px),
    title-small-size: math-ext.to-rem(14px),
    title-small-tracking: math-ext.to-rem(0.1px),
    title-small-weight: typeface.get-fallback(weight-medium)
) !default;

@function get-fallback($property) {
    $property: _validate-typescale($property);
    @return map.get($typescale, $property);
}

@function _validate-typescale($property) {
    @if map.has-key($typescale, $property) {
        @return $property;
    }
    @error "typescale: invalid property #{$property}";
}
